.Home {
  padding: 2rem;
  text-align: center;

  h1 {
    margin-bottom: 2rem;
  }
}

.posts {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.card {
  background: white;
  padding: 2rem;
  width: 250px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);

  a {
    display: inline-block;
    margin-top: 1rem;
    text-decoration: none;
    color: #6c80ff;
    font-weight: bold;
  }
}