.Categories {
  padding: 2rem;
  text-align: center;

  ul {
    margin-top: 2rem;
    list-style: none;

    li {
      padding: 1rem;
      margin: 1rem auto;
      width: 200px;
      background: #6c80ff;
      color: white;
      border-radius: 8px;
    }
  }
}